{% ckan_extends %} 

{% block package_description %}
    {% set review_status_class = {
        "pending": "alert-warning",
        "approved": "alert-success",
        "rejected": "alert-danger"
    } %}
    {% set review_status = h.dataset_review_status(pkg.id) %}
    {% snippet 'snippets/review_status_badge.html', review_status=review_status, review_status_class=review_status_class %}

    {{ super() }}
    <div class="p-2 {{ review_status_class.get(review_status) }}">
      {% if review_status == 'pending' %} 
          This dataset is waiting for a review.
          {% if current_user_is_reviewer %} 
              <div>
                <a class="btn btn-success"
                  ><i class="fa-solid fa-circle-plus"></i> Approve</a
                >
                <a class="btn btn-danger"
                  ><i class="fa-solid fa-circle-minus"></i> Reject</a
                >
              </div>
          {% endif %} 
      {% endif %}

      {% if review_status == 'approved' %} 
          This dataset has been reviewed and approved!
      {% endif %}

      {% if review_status == 'rejected' %} 
          This dataset has been reviewed and rejected!
      {% endif %}
    </div>
{% endblock %}